<h1>You've added a new post</h1>
<p>Name: @Model.GetName() <br>
  Description: @Model.GetDescription() <br>
  Phone: @Model.GetPhone() <br>
  Email: @Model.GetEmail() <br>

<p><a href="/">Make another post</a></p>
<p><a href="all-posts">List of posts</a></p>
